{% extends 'base/base.html' %}
{% load static %}

{% block title %}Notifications{% endblock %}
{% block content %}
    <h2 class="text-center">Notifications</h2>
    {% if notifications %}
        <ul>
            {% for notification in notifications %}
                <li class="{% if notification.is_read %}bg-info{% endif %}">
                    {{ notification.message }}
                    <a href="{% url 'mark_notification_read' notification.id %}" class="btn btn-primary">Mark as Read</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="color: red">No notifications.</p>
    {% endif %}