{% extends 'base/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="container mt-4">
    <div class="profile_container row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>{{ user_name }}</h1>
            <div class="profile-avatar my-4">
                <img src="{{ avatar }}" class="rounded-circle" alt="Profile Avatar" width="150" height="150">
            </div>
            <div class="profile-info">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Best Drop</h4>
                        <p id="best-drop">{{ user_profile.best_drop }}</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Most Expensive Case</h4>
                        <p id="expensive-case">{{ user_profile.expensive_case }}</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Cases Opened</h4>
                        <p id="cases-opened">{{ user_profile.cases_opened }}</p>
                    </div>
                </div>
            </div>
            <div class="text-center" style="width: 100%;">
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex mb-3 align-items-center">
                        <label style="width: 150px">
                            <a style="color: black" href="https://steamcommunity.com/profiles/{{uid}}/tradeoffers/privacy">Trade URL:</a>
                        </label>
                        {% if profile.trade_url %}
                            <input type="text" class="form-control" placeholder="Enter your trade URL" name="trade_url" value="{{ profile.trade_url }}">
                        {% else %}
                            <input type="text" class="form-control" placeholder="Enter your trade URL" name="trade_url">
                        {% endif %}
                        <button class="btn btn-primary" style="margin-left: 10px; background: linear-gradient(to right, #00b09b, #96c93d)">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Inventory</h2>
            <div class="profile-skins"> {% comment %} Сортування {% endcomment %}
                <a href="">All inventory (count)</a>
                <a href="">Available (count)</a>
                <a href="">Selled (count)</a>
            </div>
            <div id="inventory-list" class="d-flex flex-wrap">
                {% for item in inventory_items.all %}
                    <div class="skin card m-2">
                        <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.item_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.item_name }}</h5>
                            <p class="card-text">Value: ${{ item.item_value }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
