{% extends 'base/base.html' %}
{% load static %}

{% block title %}Admin user list{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/adm-pnl.css' %}">
<h2>Admin user list</h2>
<div class="container">
    <a href="/admins/admin_panel/">< Back</a>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="my-4 text-center">Admin user list</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            {% if user.uid %}
                                <a href="{% url 'profile' user.uid %}" style="color: black;">{{ user.username }}</a>
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.is_banned %}
                                <a href="{% url 'unban_user' user.id %}" class="btn btn-danger" style="background-color: blue;">Unban</a>
                            {% elif user.is_superuser %}
                                <a class="btn btn-danger disabled" style="background-color: gray;">Super User</a>
                            {% else %}
                                <a href="{% url 'ban_user' user.id %}" class="btn btn-danger ban-btn" data-username="{{ user.username }}" data-userid="{{ user.id }}" style="background-color: red;">Ban</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".ban-btn").forEach(function (btn) {
            btn.addEventListener("click", function (event) {
                event.preventDefault();
    
                let username = this.getAttribute("data-username");
                let userId = this.getAttribute("data-userid");
                let confirmBan = confirm(`Ви дійсно бажаєте заблокувати користувача ${username}?`);
    
                if (confirmBan) {
                    window.location.href = this.href;
                }
            });
        });
    });
    </script>
    
{% endblock %}