.wrapper {
    width: 100%;
    position: absolute;

    & h2 {
        color: white;
        padding: 30px 0px;
        font-size: 3ch;
    }
}

.part-1 {
    background-image: linear-gradient(to right, #1a0135 0%, #11042b 100%);
    /* background-color: #1f2335; */
}

.part-2 {
    background-image: linear-gradient(to right, #1a0135 0%, #11042b 100%);
    /* background-color: #292f45; */
}

.container-2 {
    /* background-color: #1f2335; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: white;
    padding-bottom: 30px;
}

.box {
    /* border: 1px solid #000000; */
    /* background-color: brown; */
    border-radius: 12px;
    text-align: center;
    width: 200px;

    & img {
        width: 100%;
        transition: 0.3s;
    }

    & .case-price {
        transition: 0.3s;
    }

    & a:link,
        a:visited,
        a:hover,
        a:active{
        text-decoration: none;
        color: black;
    }
}

.box:hover {
    & img {
        transform: scale(110%);
    }

    & .case-price {
        background-color: #a033ff;
    }
}

.case-price-block {
    display: flex;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;

    & p {
        color: white;
        background-image: linear-gradient(to right, rgba(245, 201, 0, 0) 0%, #a033ffb2 100%);
        border: 1px solid #a033ff;
        border-radius: 17px;
        width: auto;
        max-width: 100%;
        padding: 4px 20px 3px 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        font-size: 2ch;
    }
}

/* .case-price {} */

/* @media (max-width: 768px) {
    .container-2 {
        flex-wrap: wrap;
        align-items: center;
    }
    .box {
        width: 50%;
    }
} */

/* .dropdown-menu {
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px; transform: translate3d(50px, 10px, 50px) data-popper-placement="bottom-end";
} */




/* --- FOOTER SECTION --- */