/* --- MAIN SECTION --- */

.bloom-button {
    background: #5E5DF0 !important;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    /* line-height: 24px; */
    opacity: 1;
    outline: 0 solid transparent;
    /* padding: 8px 18px; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: fit-content; */
    /* word-break: break-word; */
    border: 0;
    transition-duration: 0.4s;
    justify-content: center;

    & p {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 3ch;
    }

    &:hover {
        box-shadow: #5E5DF0 0 0px 30px -0px;
    }
}

.wrapper {
    background-color: #292f45;

    & h3 {
        color: white;
        text-align: center;
        margin: 0;
        padding-bottom: 0;
        padding: 20px 0px 10px;
    }

    & button {
        background-color: transparent;
        padding: 3px 10px;
        border: none;
    }
}

.content {
    margin-left: 40px;

    & h3 {
        font-size: 30px !important;
    }

    & a:hover {
        color: #FFD000;
    }

    & p {
        margin-top: -20px !important;
        margin: 0 auto;
        text-align: center;
        color: white; font-size: 3ch;
    }
}

.roulette {
    border: 3px solid #5E5DF0 ;
    border-radius: 13px;
    width: 94%;
    height: 180px;
    margin: 30px auto;
    /* NEW Будь-ласка замінити, коли писатимете новий код */
    background-color: #23293d;
    overflow: hidden;
}

.options {
    display: flex;
    align-items: center; /* Вирівнює елементи по вертикалі */
    justify-content: space-between; /* Розділяє по краях */
}

.count-case {
    margin-left: 30px;

    & button {
        border-radius: 15px;
        padding: 0;
        margin-left: 10px;
        width: 50px;
        height: 50px;

        & p {
            color: white;
            margin: auto;
        }
    }
}

.fast-spin {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 40px;
    padding: 0 !important;
}

.open {
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
    margin-top: -50px;
    height: 50px;

    & p {
        color: white;
        padding: 0;
        margin: auto 10px;
    }
}


/* --- AVALIABILITY SECTION --- */

.container2 {
    /* background-color: #1f2335; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: white;
    padding-bottom: 30px;

    & p {
        font-size: 14px;
    }
}

.box {
    border: 2px solid rgb(40, 69, 113);
    border-radius: 20px;
    width: 210px;
    height: 180px;
    z-index: 1;

    & img {
        margin: 6% 20%;
    }
}

.info {
    display: flex;
    align-items: center; /* Вирівнює елементи по вертикалі */
    justify-content: space-between; /* Розділяє по краях */

    & img {
        margin: 5px 10px;
        transition-duration: 0.4s;
        height: 20px;
        width: 20px;
    }

    /* & img:hover {
        margin: 0;
    } */

    & p {
        margin: 5px 10px;
    }
}

.under-skin {
    width: 50%;
    height: 50%;
}

.gradient {
    border-radius: 20px;
    background-image: linear-gradient(180deg, transparent 0, rgba(255, 55, 55, 0.381) 200%);
    width: 208px;
    height: 100px;
    margin-top: -90px;
}