.container {
  margin-top: 0 !important;
  padding-top: 24px;
}

.profile_container {
  width: 100%;
  height: 100%;
  background-image: url('https://cdn2.steamgriddb.com/hero_thumb/2b1ec9ecde3fcfa54840a68765c3f647.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 18px #e38716;
  color: #000000;
}

.profile-info h4 {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.profile-info p {
  font-size: 1rem;
  font-weight: bold;
}

#inventory-list {
  background-color: #18be79;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #004080;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.skins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skin {
  margin: 8px;
  width: 210px;
  height: 190px;
}

.skin-img {
  width: 96px;
  height: 72px;
  margin: 12px auto;
}

h2 {
  color: white;
  padding-bottom: 10px !important;
}

.profile-skins {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0 15%;
  margin-bottom: 10px;

  & a:link,
    a:visited,
    a:hover,
    a:active{
      text-decoration: none;
      color: white;
  }
}
