.container {
  margin-top: 0 !important;
  padding-top: 24px;
}

.profile_container {
  width: 100%;
  height: 100%;
  background-image: url('https://cdn2.steamgriddb.com/hero_thumb/2b1ec9ecde3fcfa54840a68765c3f647.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 18px rgba(227, 135, 22, 0);
  color: #000000;
  align-items: center;
  display:grid;
}

.profile-info {
  display: inline-flex;
  margin-left: 280px;

  & h4 {
    font-size: 1.25rem;
    margin-bottom: 5px;
  }

  & p {
    font-size: 1rem;
    font-weight: bold;
  }
}

.user-prof {
  transition: all 0.5s ease-in-out;
}

.short-info {
  transform: translateX(100%);
}

.full-info {
  width: 590px;
  position: relative;
  display: flex;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.card-stat {
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px black;
  width: 70%;
  margin: 20px;


  padding: 0.5rem 1rem;
  background-image: linear-gradient(120deg, #a845ff 0%, #00cdf1 150%);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  color: #000000 !important;
}

.moved {
  transform: translateX(-160%);
}

.displayed {
  opacity: 1;
}


.btn-full-info {
  margin: 0 auto 17px;
  height: 40px !important;
  padding-top: 8px !important;
  padding-bottom: 5px;
  width: 200px;
}

.form-control {
  height: 40px;
}

.btn-saveTURL {
  opacity: 0.5;
  margin-left: 10px;
  width: 100px;
  height: 40px;
}

button:disabled {
  /* background-color: #d4c065 !important;
  border-color: #d4c065 !important; */
  border-color: transparent !important;
  color: #242424 !important;
}

.notification-yes {
  position: fixed;
  top: 20px;
  left: 50%;
  text-align: center;
  vertical-align: middle;
  transform: translateX(-50%) translateY(-20px);
  background-color: #28a745;
  color: white;
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  width: 200px;
  z-index: 1001;
}
.notification-yes.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}



#inventory-list {
  /* background-color: #1f2335; */
  background-color: #1d0a42;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.skins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skin {
  color: #fff !important;
  margin: 8px;
  width: 240px;
  height: 380px;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(0, 0, 0, 0.30);

  & p {
    color: #fff !important;
  }
}

.skin-img {
  width: 96px;
  height: 72px;
  margin: 12px auto;
}

h2 {
  padding-bottom: 10px !important;
}

.profile-skins {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0 15%;
  margin-bottom: 10px;

  & a:link,
    a:visited,
    a:hover,
    a:active{
      text-decoration: none;
      color: white;
  }
}

.card {
  width: 200px;
  height: 230px !important;
}

.card-body {
  position: relative;
  padding: 15px 12px 0;
  text-align: center;

  & p {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    margin: 0;
  }
}

.card-img {
  width: 70%;
  margin: 0 auto;
}

.card-price {
  /* top: 100%; */
  justify-content: end;
  text-align: center;
}

.options {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
  margin: 0;
  text-align: center;
  gap: 5px;

  & button, & a {
    width: 180px;
    height: 40px;
    margin-top: 5px;
  }
}

.card:hover .options {
  display: block;
}

.card:hover .card-title {
  display: none;
}

.card:hover .card-price {
  display: none;
}

.modal-content {
  background-color: #222;
  color: white;
  border-radius: 10px;
  border: 2px solid #ff4500;
}

.modal-header {
  background-color: #ff4500;
  color: white;
  border-bottom: 2px solid white;
}

.modal-footer {
  background-color: #333;
  border-top: 2px solid white;
}

.modal-body {
  font-size: 1.1rem;
  padding: 20px;
}

.modal .btn-secondary {
  background-color: #555;
  border: none;
}

.modal .btn-delete {
  background: linear-gradient(to right, #ff4500, #ff6600);
  border: none;
  color: white;
}