/* Обгортка для слоту */
.slot-wrapper {
    position: relative;
    margin: 20px auto;
    /* width: 1000px; Ширина слоту стає 1000px */
}

/* Стрілочка-індикатор */
.slot-indicator {
    position: absolute;
    top: -25px;  /* Розташовуємо над слотом */
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #ff0000;  /* Можна змінити колір на потрібний */
}

/* Контейнер слоту */
/* .slot-container {
    width: 1000px;
    height: 180px;
    overflow: hidden;
    position: relative;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
} */

/* Контейнер барабана */
.slot-reel {
    display: flex;
    width: max-content;
    position: relative;
    transition: transform 0.5s ease-out;
}

/* Список скінів */
.slot-skins {
    display: flex;
    gap: 5px;
}

/* Скін */
.slot-skin {
    /* flex: 0 0 150px; */
    /* height: 150px; */
    /* border: 2px solid #ddd; */
    /* border-radius: 8px; */
    /* overflow: hidden; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    /* background-color: #fff; */
    display: flex;
    width: 180px;
    height: 175px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* NEW Будь ласка замінити */
    border-radius: 7px;
    background-color: #303750;
    border-bottom: 4px solid rgb(235, 75, 75);
    border-top: 4px solid rgb(235, 75, 75);
}

/* Картинка скіна */
.skin-img {
    width: 180px;
    height: 79px;
    object-fit: contain;
}

/* Прихований заголовок (якщо потрібно) */
.hidden {
    display: none;
}