{% extends 'base/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block content %}
    <div class="part-1">
        <h2 style="margin-bottom: 0px; padding-left: 5%;"><img src="{% static 'img/case-icon-qualitycases.svg' %}" style="margin-right: 5px;" width="3%" alt="ct">CS2 Cases</h2>
        <div class="container-2">
            {% for case in cases %}
                {% include 'cases/case_block.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}