{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">


<div class="box">
    <a href="{% url 'case_detail' case_name=case.name %}">
        <img src="{{ case.image }}" class="card-img-top" alt="{{ case.name }}">
        <p style="color: white;">{{ case.name }}</p>
        <div class="case-price-block">
            <p class="case-price">
                {% if case.price and case.price > 0 %}
                    ${{ case.price }}
                {% else %}
                    Free
                {% endif %}
            </p>
        </div>
    </a>
</div>