{% extends 'base/base.html' %}

{% block title %}{{ case.name }}{% endblock %}

{% block content %}
    <div class="container">
        <a href="/" >Back</a>
        <!-- Назва кейсу -->
        <h1 class="mt-4">{{ case.name }}</h1>

        <!-- Зображення кейсу -->
        {% comment %} <img src="{{ case.image }}" alt="{{ case.name }}" class="img-fluid mt-3" style="max-width: 100%;"> {% endcomment %}

        <!-- Ціна -->
        <p class="mt-3">
            {% if case.price and case.price > 0 %}
                Price: ${{ case.price }}
            {% else %}
                Price: Free
            {% endif %}
        </p>
        

        <!-- Кнопка "Open for" -->
        <button class="btn btn-primary mt-3">
            Open for {% if case.price and case.price > 0 %}${{ case.price }}{% else %}Free{% endif %}
        </button>

        <!-- Основний блок (пустий) -->
        <div class="mt-5">
            {% if case_skins != None %}
                <div class="skins">
                    {% for skin in case_skins.all %}
                        <div class="skin card">
                            <img alt="{{ skin.name }}" class="skin-img"/>

                            <div class="card-body">
                                <h5 class="card-title">{{ skin.name }}</h5>
                                <p class="skin-odds text-secondary">{{ skin.odds }}%</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <script src="/static/js/init_skins.js"></script>
{% endblock %}