{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/upgrader.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col">
                    <div class="upgrade-item-block">
                    </div>
                    <p class="item-text">
                        Select an item you want to upgrade
                    </p>

                    <button class="open bloom-button">
                        <p>Clear All</p>
                    </button>
                </div>

                <div class="col">
                    <div class="upgrade-block">
                        <div class="circle-block">
                            <div class="circle">
                                <svg>
                                    <circle cx="140" cy="140" r="140" stroke-linecap="round"></circle>
                                    <circle cx="140" cy="140" r="140" stroke-linecap="round"></circle>
                                </svg>

                                <div class="loader">
                                    <span></span>
                                </div>

                                <div class="chance-block">
                                    <h1 id="chance" class="chance">63.57%</h1>
                                    <p class="chance-type">HIGH CHANCE</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="open bloom-button">
                        <p>Upgrade</p>
                    </button>
                </div>

                <div class="col">
                    <div class="upgrade-item-block">
                    </div>
                    <p class="item-text">
                        Select an item you want to obtain
                    </p>

                    <!-- Це умовно, для розробки -->
                    <div class="options" style="margin-top: 0px">
                        <div class="count-odds">
                            <button class="bloom-button">
                                <p>1.5x</p></button>
                            <button class="bloom-button">
                                <p>2x</p></button>
                            <button class="bloom-button">
                                <p>5x</p>
                            </button>
                            <button class="bloom-button">
                                <p>10x</p>
                            </button>
                            <button class="bloom-button">
                                <p>20x</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="block-title">
                        Inventory
                    </div>

                    <div class="items-block">
                        {% if user.is_authenticated %}
                            {% if inventory_items %}
                                {% include 'upgrade/item_list.html' with items=inventory_items type="inventory" %}
                            {% else %}
                                {% include 'upgrade/empty_inventory.html' %}
                            {% endif %}
                        {% else %}
                            {% include 'upgrade/authorization_required.html' %}
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div class="block-title">
                        Upgrade Items
                    </div>

                    <div class="items-block">
                        {% if user.is_authenticated %}
                            {% if upgrade_items %}
                                {% include 'upgrade/item_list.html' with items=upgrade_items type="upgrade" %}
                            {% else %}
                                {% include 'upgrade/empty_upgrades.html' %}
                            {% endif %}
                        {% else %}
                            {% include 'upgrade/authorization_required.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/init_skins.js' %}"></script>
    <script src="{% static 'js/upgrader.js' %}"></script>
{% endblock %}