{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/upgrader.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col">
                    <div class="upgrade-item-block">
                    </div>
                    <p class="item-text">
                        Select an item you want to upgrade
                    </p>

                    <button class="open bloom-button">
                        <p>Clear All</p>
                    </button>
                </div>

                <div class="col">
                    <div class="upgrade-block">
                        <div class="circle-block">
                            <div class="circle">
                                <svg>
                                    <circle cx="140" cy="140" r="140" stroke-linecap="round"></circle>
                                    <circle cx="140" cy="140" r="140" stroke-linecap="round"></circle>
                                </svg>

                                <div class="loader">
                                    <span></span>
                                </div>

                                <div class="chance-block">
                                    <h1 id="chance" class="chance">63.57%</h1>
                                    <p class="chance-type">HIGH CHANCE</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="open bloom-button">
                        <p>Upgrade</p>
                    </button>
                </div>

                <div class="col">
                    <div class="upgrade-item-block">
                    </div>
                    <p class="item-text">
                        Select an item you want to obtain
                    </p>

                    <!-- Це умовно, для розробки -->
                    <div class="options" style="margin-top: 0px">
                        <div class="count-odds">
                            <button class="bloom-button">
                                <p>1.5x</p></button>
                            <button class="bloom-button">
                                <p>2x</p></button>
                            <button class="bloom-button">
                                <p>5x</p>
                            </button>
                            <button class="bloom-button">
                                <p>10x</p>
                            </button>
                            <button class="bloom-button">
                                <p>20x</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="block-title">
                        Inventory
                    </div>

                    <div class="items-block">
                        {% if user.is_authenticated %}
                            {% if inventory_items is None %}
                                <div class="empty-block">
                                    <h5 class="empty-inventory-title">You have no available items yet</h5>
                                    <p class="empty-inventory-desc">Open cases and upgrade an item</p>
                                    <a class="open bloom-button" href="/">Open Cases</a>
                                </div>
                            {% else %}
                                {% for item in inventory_items %}
                                    <div class="item-block">
                                        <img src="{{ item.image_url }}" class="skin-img"/>
                                        <p class="skin-title hidden">{{ item.item_name }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <div class="empty-block">
                                <h5 class="empty-inventory-title">Authorization required</h5>
                                <p class="empty-inventory-desc">To use the upgrade, log in to your account</p>
                                <a class="open bloom-button" href="/accounts/steam/login/?process=login">Login with Steam</a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div class="block-title">
                        Upgrade Items
                    </div>

                    <div class="items-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}